CarAssistanceProject/businessCatalog/BusinessObjects/Incident.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="BusinessObjects.Incident" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/Incident" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/Incident"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="IncidentType">
        <xs:sequence>
            <xs:element name="name" default="" type="xs:string"/>
            <xs:element name="location" default="" type="xs:string"/>
            <xs:element name="isSmoke" default="false" type="xs:boolean"/>
            <xs:element name="isCrash" default="false" type="xs:boolean"/>
            <xs:element name="licencePlate" default="" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Incident" type="IncidentType"/>
</xs:schema>
