CarAssistanceProject/IncidentReported.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/IncidentReported" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/IncidentReported"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:tns6="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/Incident"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:tns7="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/AssistancePromise" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/IncidentReported">
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/Incident" schemaLocation="businessCatalog/BusinessObjects/Incident.xsd"/>
            <xsd:import namespace="http://xmlns.oracle.com/bpm/bpmobject/BusinessObjects/AssistancePromise" schemaLocation="businessCatalog/BusinessObjects/AssistancePromise.xsd"/>
            <xsd:element name="start">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:Incident"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="endResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns7:AssistancePromise"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="start">
        <wsdl:part name="parameters" element="tns:start"/>
    </wsdl:message>
    <wsdl:message name="endResponse">
        <wsdl:part name="parameters" element="tns:endResponse"/>
    </wsdl:message>
    <wsdl:portType name="IncidentReportedPortTypeCallBack">
        <wsdl:operation name="end">
            <wsdl:input message="tns:endResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="IncidentReportedPortType">
        <wsdl:operation name="start">
            <wsdl:input message="tns:start"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="IncidentReportedPortTypePartnerLinkType">
        <plnk:role name="IncidentReportedPortTypeProvider">
            <plnk:portType name="tns:IncidentReportedPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
